Building Flow based IoT Dashboard/flows (2).json
[
    {
        "id": "7ba313d7.903fbc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d5248ad8.bbc0f8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dcd48eeb.75534",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ebf7810.15de78",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "964e607f.51674",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "cbd392.88396c7",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "54fbd379.e4e1bc",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#327a6e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#206461",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#206461",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#206461",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#339e99",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#206461",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 91,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 3,
                "py": 3
            }
        }
    },
    {
        "id": "ef8953f1.d9d3c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e0d1f150.bd6af",
        "type": "ui_group",
        "z": "",
        "name": "Dining Room Light",
        "tab": "ef8953f1.d9d3c",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "98d4fe50.f2da1",
        "type": "ui_group",
        "z": "",
        "name": "Dining Room Humidity",
        "tab": "ef8953f1.d9d3c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "2a451eb.13418e2",
        "type": "ui_group",
        "z": "",
        "name": "Kitchen Temperature",
        "tab": "ef8953f1.d9d3c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "260e329b.9dc41e",
        "type": "ui_group",
        "z": "",
        "name": "Kids Room Temperature",
        "tab": "ef8953f1.d9d3c",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "77e4d5d8.ad9b5c",
        "type": "ui_group",
        "z": "",
        "name": "Dining Room Temperature",
        "tab": "ef8953f1.d9d3c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "252b3968.a12c46",
        "type": "ui_group",
        "z": "",
        "name": "Kitchen Humidity",
        "tab": "ef8953f1.d9d3c",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a590070a.89ce58",
        "type": "ui_group",
        "z": "",
        "name": "Kitchen Light",
        "tab": "ef8953f1.d9d3c",
        "disp": true,
        "width": 4,
        "collapse": true
    },
    {
        "id": "80fd04a3.a09188",
        "type": "ui_group",
        "z": "",
        "name": "Kids Room Humidy",
        "tab": "ef8953f1.d9d3c",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6aea51bd.c3549",
        "type": "ui_group",
        "z": "",
        "name": "Kids Room Light",
        "tab": "ef8953f1.d9d3c",
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "54de70a5.08f4",
        "type": "grove digital sensor",
        "z": "7ba313d7.903fbc",
        "name": "Temperature",
        "board": "cbd392.88396c7",
        "sensor": "dht11",
        "repeat": "1.5",
        "pin": "8",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "df690f7d.5e006",
                "fd334e00.3bc86"
            ]
        ]
    },
    {
        "id": "3a4f2cbb.5b7d14",
        "type": "ui_gauge",
        "z": "7ba313d7.903fbc",
        "name": "Temperature",
        "group": "77e4d5d8.ad9b5c",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "df690f7d.5e006",
        "type": "function",
        "z": "7ba313d7.903fbc",
        "name": "function_temp",
        "func": "\nreturn (\n    \n    { payload:msg.payload.temperature }\n    \n    );",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "3a4f2cbb.5b7d14"
            ]
        ]
    },
    {
        "id": "7e188fbf.65081",
        "type": "ui_gauge",
        "z": "7ba313d7.903fbc",
        "name": "Humidity",
        "group": "98d4fe50.f2da1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "45",
        "seg2": "55",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "fd334e00.3bc86",
        "type": "function",
        "z": "7ba313d7.903fbc",
        "name": "function_hum",
        "func": "\nreturn (\n    \n    { payload:msg.payload.humidity }\n    \n    );",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "7e188fbf.65081"
            ]
        ]
    },
    {
        "id": "34c2c49.fd4773c",
        "type": "ui_switch",
        "z": "7ba313d7.903fbc",
        "name": "Dining Room Light",
        "label": "Lights",
        "tooltip": "",
        "group": "e0d1f150.bd6af",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "bdfc7792.ec5508",
                "adcbe67b.f7e788"
            ]
        ],
        "info": "<html>\n<head>\n<script>\n</script>\n</head>\n<body>\n<h1> The Experiment</h1>\n</body>\n</html>"
    },
    {
        "id": "bdfc7792.ec5508",
        "type": "switch",
        "z": "7ba313d7.903fbc",
        "name": "Light_check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "7224f6e6.9d0a48"
            ],
            [
                "3cd739d3.025676"
            ]
        ]
    },
    {
        "id": "7224f6e6.9d0a48",
        "type": "grove digital output",
        "z": "7ba313d7.903fbc",
        "name": "Red_ON",
        "board": "964e607f.51674",
        "pin": "5",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "3cd739d3.025676",
        "type": "grove digital output",
        "z": "7ba313d7.903fbc",
        "name": "Red_OFF",
        "board": "964e607f.51674",
        "pin": "5",
        "x": 920,
        "y": 660,
        "wires": []
    },
    {
        "id": "c34d288.152afd8",
        "type": "ui_text",
        "z": "7ba313d7.903fbc",
        "group": "e0d1f150.bd6af",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "Red_status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 740,
        "wires": []
    },
    {
        "id": "adcbe67b.f7e788",
        "type": "function",
        "z": "7ba313d7.903fbc",
        "name": "form",
        "func": "if(msg.payload === true){\n msg.payload = \"ON\";\n return msg;}\nelse{\n    msg.payload = \"OFF\";\n    return msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "c34d288.152afd8"
            ]
        ]
    },
    {
        "id": "184a1f51.5c8751",
        "type": "ui_gauge",
        "z": "d5248ad8.bbc0f8",
        "name": "Temperature",
        "group": "2a451eb.13418e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Farenheit",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "7951ff2e.913ab",
        "type": "ui_gauge",
        "z": "d5248ad8.bbc0f8",
        "name": "Humidity",
        "group": "252b3968.a12c46",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "7dd3b6f4.9a1b28",
        "type": "ui_switch",
        "z": "d5248ad8.bbc0f8",
        "name": "Kitchen Light",
        "label": "Lights",
        "tooltip": "",
        "group": "a590070a.89ce58",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "c8b6a098.6877",
                "ade60289.93628"
            ]
        ]
    },
    {
        "id": "c8b6a098.6877",
        "type": "switch",
        "z": "d5248ad8.bbc0f8",
        "name": "Light_Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "f2567d7c.5db92"
            ],
            [
                "9dc3debe.1913f"
            ]
        ]
    },
    {
        "id": "f2567d7c.5db92",
        "type": "grove digital output",
        "z": "d5248ad8.bbc0f8",
        "name": "BLUE_ON",
        "board": "964e607f.51674",
        "pin": "6",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "9dc3debe.1913f",
        "type": "grove digital output",
        "z": "d5248ad8.bbc0f8",
        "name": "BLUE_OFF",
        "board": "964e607f.51674",
        "pin": "6",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "ade60289.93628",
        "type": "function",
        "z": "d5248ad8.bbc0f8",
        "name": "form",
        "func": "if(msg.payload === true){\n msg.payload = \"ON\";\n return msg;}\nelse{\n    msg.payload = \"OFF\";\n    return msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 480,
        "wires": [
            [
                "3a264b32.65a0d4"
            ]
        ]
    },
    {
        "id": "3a264b32.65a0d4",
        "type": "ui_text",
        "z": "d5248ad8.bbc0f8",
        "group": "a590070a.89ce58",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "Blue_Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "bf252f39.b3554",
        "type": "inject",
        "z": "d5248ad8.bbc0f8",
        "name": "",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "repeat": "1.5",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "74840935.b50a78",
                "c684a3eb.9b0d5"
            ]
        ]
    },
    {
        "id": "c9938a9b.674f28",
        "type": "inject",
        "z": "dcd48eeb.75534",
        "name": "inject",
        "topic": "",
        "payload": "[50,48,48]",
        "payloadType": "bin",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "ae8f45bd.0e8528",
                "f9121ac4.9ef288"
            ]
        ]
    },
    {
        "id": "b2d3b0c.7ecd85",
        "type": "function",
        "z": "dcd48eeb.75534",
        "name": "Random Number Generator",
        "func": "f = (msg.payload*0.18)+32\nmsg.payload = f.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "1a13ff2.dfd8101"
            ]
        ]
    },
    {
        "id": "1a13ff2.dfd8101",
        "type": "ui_gauge",
        "z": "dcd48eeb.75534",
        "name": "kids Room Temperature",
        "group": "260e329b.9dc41e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Farenheit",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "x": 1170,
        "y": 60,
        "wires": [],
        "info": "<html>\n<head>\n<style text-align=\"center\">\n</style>\n</head>\n<body>\n</body>\n</html>"
    },
    {
        "id": "5b94b13.706b85",
        "type": "ui_gauge",
        "z": "dcd48eeb.75534",
        "name": "Kids Room Humidity",
        "group": "80fd04a3.a09188",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1180,
        "y": 140,
        "wires": []
    },
    {
        "id": "6b3055b9.b1b6cc",
        "type": "ui_switch",
        "z": "dcd48eeb.75534",
        "name": "Kids Room Light",
        "label": "Lights",
        "tooltip": "",
        "group": "6aea51bd.c3549",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "35dee717.db7208",
                "8e068395.73c54"
            ]
        ]
    },
    {
        "id": "35dee717.db7208",
        "type": "switch",
        "z": "dcd48eeb.75534",
        "name": "Light_Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "e63dae6d.1196d"
            ],
            [
                "2a61bec7.2acad2"
            ]
        ]
    },
    {
        "id": "e63dae6d.1196d",
        "type": "grove digital output",
        "z": "dcd48eeb.75534",
        "name": "GREEN_ON",
        "board": "964e607f.51674",
        "pin": "4",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "2a61bec7.2acad2",
        "type": "grove digital output",
        "z": "dcd48eeb.75534",
        "name": "GREEN_OFF",
        "board": "964e607f.51674",
        "pin": "4",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "8e068395.73c54",
        "type": "function",
        "z": "dcd48eeb.75534",
        "name": "form",
        "func": "\nif(msg.payload === true){\n msg.payload = \"ON\";\n return msg;}\nelse{\n    msg.payload = \"OFF\";\n    return msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "3767d194.5437ae"
            ]
        ]
    },
    {
        "id": "3767d194.5437ae",
        "type": "ui_text",
        "z": "dcd48eeb.75534",
        "group": "6aea51bd.c3549",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "GREEN_STATUS",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "f51b3874.4507b8",
        "type": "function",
        "z": "d5248ad8.bbc0f8",
        "name": "Random Number Generator",
        "func": "f = (msg.payload*0.18)+32\nmsg.payload = f.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "184a1f51.5c8751"
            ]
        ]
    },
    {
        "id": "74840935.b50a78",
        "type": "random",
        "z": "d5248ad8.bbc0f8",
        "name": "",
        "low": "40",
        "high": "70",
        "inte": "true",
        "property": "payload",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "7951ff2e.913ab"
            ]
        ]
    },
    {
        "id": "c684a3eb.9b0d5",
        "type": "random",
        "z": "d5248ad8.bbc0f8",
        "name": "",
        "low": "200",
        "high": "350",
        "inte": "true",
        "property": "payload",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "f51b3874.4507b8"
            ]
        ]
    },
    {
        "id": "f9121ac4.9ef288",
        "type": "random",
        "z": "dcd48eeb.75534",
        "name": "",
        "low": "20",
        "high": "35",
        "inte": "false",
        "property": "payload",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "b2d3b0c.7ecd85"
            ]
        ]
    },
    {
        "id": "ae8f45bd.0e8528",
        "type": "random",
        "z": "dcd48eeb.75534",
        "name": "",
        "low": "40",
        "high": "70",
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "5b94b13.706b85"
            ]
        ]
    }
]